Repository Thoughtworks-SEA-Capability/tiger-training-ref-infra: changes, and which CircleCI parameters are due for each by the changed paths.
All: networking, eks, app-a, pipeline-config

add lint jobs to eks and app-a
  .circleci/continue_config.yml
Due: pipeline-config

fix warning from tflint eks
  week3/stacks/eks/init.tf
  week3/stacks/eks/main.tf
  week3/stacks/eks/variables.tf
Due: eks

fix app-a follow tflint
  week3/stacks/app-a/init.tf
  week3/stacks/app-a/main.tf
  week3/stacks/app-a/variables.tf
Due: app-a

add tfsec job for eks and app-a
  .circleci/continue_config.yml
Due: pipeline-config

add default_tags to app-a init
  week3/stacks/app-a/init.tf
Due: app-a

add tfsec fix and ignore for eks
  week3/stacks/eks/init.tf
  week3/stacks/eks/main.tf
Due: eks

add custom rule check team tag to tfsec
  week3/compliance/team_tags_tfchecks.yaml
Due: pipeline-config

add eks tests
  week3/stacks/eks/tests/eks_test.go
Due: eks

add networking tests
  week3/stacks/networking/tests/go.mod
  week3/stacks/networking/tests/go.sum
  week3/stacks/networking/tests/networking_test.go
Due: networking

uncomment prod pipeline
  .circleci/continue_config.yml
  ADR.md
Due: pipeline-config

Path conditions:
  networking: any of: week3/stacks/networking/.*
  eks: any of: week3/stacks/eks/.*
  app-a: any of: week3/stacks/app-a/.*
  pipeline-config: (any of: .circleci/.*) or (any of: week3/compliance/.*)
